<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Patch Editor"
            extensions="patch"
            icon="icons/bandaid.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="patcheditor.editors.PatchEditor"
            id="patcheditor.editors.PatchEditor">
      </editor>
      <editor
            class="patcheditor.editors.PatchEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="patched"
            icon="icons/bandaid-applied.gif"
            id="patcheditor.editors.PatchAppliedEditor"
            name="Patch Editor">
      </editor>
   </extension>
</plugin>
