<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
     
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="PatchedGutterAnnotations.actionSet"
            label="Refresh Patch Markers"
            visible="true">
         <action
               class="textmarker.actions.AddMarkerAction"
               icon="icons/reset.gif"
               id="textmarker.actions.AddMarkerAction"
               label="Show All Patch Markers"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Show All Patch Markers"/>
      </actionSet>
      <actionSet
            id="PatchedGutterAnnotations.actionSetRemove"
            label="Remove Patch Markers"
            visible="true">
         <action
               class="textmarker.actions.RemoveMarkersAction"
               icon="icons/delete_obj.gif"
               id="textmarker.actions.RemoveMarkersAction"
               label="Remove All Patch Markers"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Remove All Patch Markers">
         </action>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="patchAppliesMarker"
            name="patchAppliesAnnotation"
            super="org.eclipse.ui.workbench.texteditor.info"/>
      <type
            markerSeverity="0"
            markerType="patchLinesMarker"
            name="patchLinesAnnotation"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
      <type
            markerSeverity="0"
            markerType="patchLinesRemovedMarker"
            name="patchLinesRemovedAnnotation"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
  </extension>
  <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="patchAppliesAnnotation"
            icon="icons/applies.gif"
            includeOnPreferencePage="true"
            label="Patch will Apply"/>
      <specification
            annotationType="patchLinesRemovedAnnotation"
            colorPreferenceKey="AnnotationColorRemoved"
            colorPreferenceValue="255,182,193"
            contributesToHeader="false"
            highlightPreferenceKey="HighLightRemoved"
            highlightPreferenceValue="true"
            icon="icons/minus.gif"
            includeOnPreferencePage="true"
            label="Patch Lines Removed"
            overviewRulerPreferenceKey="OverviewRulerRemoved"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            symbolicIcon="info"
            textPreferenceKey="AnnotationOccuranceRemoved"
            textPreferenceValue="false"
            textStylePreferenceKey="AnnotationTextStyleRemoved"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="VerticalRulerRemoved"
            verticalRulerPreferenceValue="true">
      </specification>
      <specification
            annotationType="patchLinesAnnotation"
            colorPreferenceKey="AnnotationColor"
            colorPreferenceValue="193,255,193"
            contributesToHeader="false"
            highlightPreferenceKey="HighLight"
            highlightPreferenceValue="true"
            icon="icons/plus.gif"
            includeOnPreferencePage="true"
            label="Patch Lines Added"
            overviewRulerPreferenceKey="OverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            symbolicIcon="info"
            textPreferenceKey="AnnotationOccurance"
            textPreferenceValue="false"
            textStylePreferenceKey="AnnotationTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="VerticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
  </extension>
  <extension
        point="org.eclipse.ui.editors.markerUpdaters">
     <updater
           class="eclippers.patch.editor.markers.AppliesUpdater"
           id="eclippers.patch.editor.markers.applies.updater"
           markerType="patchAppliesMarker">
     </updater>
  </extension>
	<extension point="org.eclipse.ui.menus">
	<menuContribution
	    class="textmarker.actions.MarkerContributionFactory"
	    locationURI="popup:#AbstractTextEditorRulerContext?after=additions">
	  <dynamic
	         class="textmarker.actions.MarkerMenuContribution"
	         id="eclippers.patch.MarkerMenuContribution">
	  </dynamic>
	</menuContribution>
 <menuContribution
       class="textmarker.actions.NavigateFromMarkerContributionFactory"
       locationURI="popup:#AbstractTextEditorRulerContext?after=additions">
    <dynamic
          class="textmarker.actions.NavigateFromMarkerMenuContribution"
          id="eclippers.patch.NavMarkerMenuContribution">
    </dynamic>
 </menuContribution>
	</extension>
	  <extension
        point="org.eclipse.ui.editors">
     <editor
           class="eclippers.patch.editor.extension.PatchContainingEditor"
           contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
           default="false"
           extensions="java"
           icon="icons/icallout_obj.gif"
           id="eclippers.patch.editor.markers.embedded"
           name="Diff Viewer">
        <contentTypeBinding
              contentTypeId="eclippers.patch.editor.markers.embedded">
        </contentTypeBinding>
     </editor>
  </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="eclippers.patch.editor.markers.PackageDecoratorLightweight"
            id="eclippers.patch.editor.markers.decorator1"
            label="Patch Affected Files"
            lightweight="true"
            objectClass="org.eclipse.core.resources.IResource"
            state="true">
      </decorator>
      <decorator
            adaptable="true"
            class="eclippers.patch.editor.markers.NewFileDecoratorLightweight"
            id="eclippers.patch.editor.markers.decorator2"
            label="Newly Created Files"
            lightweight="true"
            objectClass="org.eclipse.core.resources.IResource"
            state="true">
      </decorator>
   </extension>
	
</plugin>
