<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="Eclippers"
            id="importpatch.importWizards.sampleCategory">
      </category>
      <wizard
            name="Import Patch File"
            icon="icons/bandaid.gif"
            category="importpatch.importWizards.sampleCategory"
            class="importpatch.importWizards.ImportPatchWizard"
            id="importpatch.importWizards.ImporPatchtWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="eclippers.import.patch.contribution1"
            nameFilter="*patch"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="importpatch.popup.actions.UnapplyAction"
               enablesFor="+"
               icon="icons/clear.gif"
               id="eclippers.importpatch.notAppliedAction"
               label="Mark as Not Applied">
         </action>
         <action
               class="importpatch.popup.actions.ApplyAction"
               enablesFor="+"
               icon="icons/validate.gif"
               id="eclippers.importpatch.appliedAction"
               label="Mark as Applied">
         </action>
      </objectContribution>
   </extension>

</plugin>
